




.product img{
   height: 500px;
   
    
}
.icon{
   height: 50px;
   color: rgb(59 130 246);
}

img {
   border: 0;
}
.mgb-20, .mgb-20-all > * {
   margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
   width: 100px;
}
.img-round, .img-rel-round {
   border-radius: 50%;
}
.rating{
   height: 30px;
   color: goldenrod;
}